# This file exists in source control. Do not add sensitive information to this file!

# Instead, copy this file into a new file named app.env. Note that app.env is ignored in the top-level .gitignore:
# cp app.env.example app.env

# Then, edit app.env by uncommenting the environment variables and supplying their values. Source app.env before starting the server:
# source app.env


### Settings for Django
# export SECRET_KEY=""
# export ALLOWED_HOSTS=""


### Settings for database backup and restore scripts
## DB_PATH: the full path of the local django sqlite db
# export DB_PATH=""

## DB_BACKUP_FILENAME: the name to use for the backup file
# export DB_BACKUP_FILENAME=""

## DB_BACKUP_S3_BUCKET: the s3 bucket where the backup file will be stored.
## Include the s3 bucket name plus folder paths. Do not include a trailing /
# export DB_BACKUP_S3_BUCKET=""
