# This file exists in source control. Do not add sensitive information to this file!

# Instead, copy this file into a new file named app.env. Note that app.env is ignored in the top-level .gitignore:
# cp app.env.example app.env

# Then, edit app.env by uncommenting the environment variables and supplying their values. Source app.env before starting the server:
# source app.env

# export SECRET_KEY=""
# export ALLOWED_HOSTS=""

# export DB_PATH=
# export DB_BACKUP_FILENAME=""
# export DB_BACKUP_S3_BUCKET=""
